.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.container1{
    width: 100%;
    background-image: url(../../assets/mainbgsvg.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    gap: 1rem;
    height: 100vh;
    /* padding: 6% 6%; */
    width: 74%;
}

.wrap1>:nth-child(1){
    color: #FFF;
    text-align: center;
    font-family: K2D;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 131.25% */
}
.wrap1>:nth-child(2){
    color: #E0E0E0;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
}
.startbtn{
    display: flex;
width: 180px;
height: 40px;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
background: #F07E38;
border: none;
color: #FFF;
text-align: center;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 111.111% */
margin-top: 1rem;
}
.startbtn:hover{
    cursor: pointer;
    background: #EA610D;
  }
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 6%;
    gap: 2.4rem;
    max-width: 1440px;
}
.heading>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: K2D;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 131.25% */
}

.wrap2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.wrap2left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.wrap2left>:nth-child(1),.wrap2left>:nth-child(2){
    font-feature-settings: 'salt' on;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.023%; /* 32.405px */
color: var(--gray-gray-700, #4A5568);
font-feature-settings: 'salt' on;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.023%;
text-align: left;
}
.inv{
    font-feature-settings: 'salt' on;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.023%; /* 32.405px */
background: var(--orange-liner, linear-gradient(180deg, #F48A37 51.04%, #ED7638 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* form */

.wrap2right {
    max-height: fit-content;
    width: 55%;
    border-radius: 20px;
    background: rgba(12, 12, 12, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    padding: 2% 1%;
}

.set {
    display: flex;
    justify-content: space-between;
    line-height: 230%;
    gap: 4%;
    font-size: 18px;
    width: 100%;
    padding: 0% 4%;
}

.lastset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0% 4%;
    line-height: 230%;
    font-size: 18px;
}

.line {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    gap: 0.2rem;
}

.line>label ,.lastset>label{
    color: #B3B3B3;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    text-transform: capitalize;
}

.contactinp {
    border-radius: 10px;
    background: rgba(68, 68, 68, 0.50);
    border: none;
    height: 37px;
    width: 100%;
    padding: 1% 4%;
    color: #D9D9D9;
    outline: none;


}
.contactinp::placeholder{
    font-family: Nunito;
    font-size: 14px;
    text-transform: capitalize;
}

.selectinput {
    border-radius: 10px;
    background: rgba(68, 68, 68, 0.50);
    border: none;
    height: 37px;
    padding: 1% 4%;
    width: 100%;
    color: #808080;
    outline: none;


}

.messageinp {
    border-radius: 10px;
    background: rgba(68, 68, 68, 0.50);
    border: none;
    height: 68px;
    padding: 1% 4%;
    width: 100%;
    color: #FFF;
    outline: none;
}


.messageinp::placeholder{
  
   position: absolute;
   top: 15%;
   left: 2%;
   font-family: Nunito;
   font-size: 14px;
   text-transform: capitalize;
   
}

.opt {
    background-color: rgb(18, 18, 17);

    width: 100px;
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.selectinput[type=value]{
    color: red;
}

.subbtn {
 
    display: inline-flex;
    padding: 1.2% 4%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 40px;
    background: linear-gradient(180deg, #F48A37 5.69%, #ED7638 53.69%);
    border: none;
    color: #FFF;
    font-size: 18px;
    margin: 1%;
    font-weight: 400;
}
.subbtn:hover{
    cursor: pointer;
    color: var(--orange);
    background-color: #fff;
  
}

/* formend */


@media screen and (max-width: 768px){

  .wrap1{
    padding: 0 6%;
    width: 100%;
  }


    .wrap1>:nth-child(1){
        font-size: 18px;
        line-height: 28px;
    }
    .wrap1>:nth-child(2){
        color: #999;
        font-size: 14px;
    line-height: 24px; /* 171.429% */
    }


    .heading>:nth-child(1){
        font-size: 24px;
        line-height: 28px;
    }

    .wrap2{
        flex-direction: column;
        gap: 2.4rem;
    }
    .wrap2left{
        width: 100%;
    }
    .wrap2left>:nth-child(1),.wrap2left>:nth-child(2){
        font-size: 16px;
        line-height: 28px;
    }

    .wrap2right{
        width: 100%;
        gap: 0.8rem;
        padding: 6% 1%;
    }
    .set{
        flex-direction: column;
        gap: 0.8rem;
    }
    .line>label ,.lastset>label{
        font-size: 14px;
    }
.subbtn{
    font-size: 14px;
    padding: 2% 5%;
}
    .startbtn{
        width: 160px;
        font-size: 16px;
    }

}