.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container1{
    width: 100%;
    background-image: url(../../assets/mainbgsvg.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;align-items: center;
    /* padding: 0% 6% */
}
.wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    gap: 2rem;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    gap: 1.4rem;
}
.div1>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: K2D;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 131.25% */
}
.div1>:nth-child(2){
    color: #999;
text-align: center;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}
.startbtn{
    display: flex;
width: 180px;
height: 40px;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
background: #F07E38;
border: none;
color: #FFF;
text-align: center;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 111.111% */
margin-top: 1rem;
}
.startbtn:hover{
  cursor: pointer;
  background: #EA610D;
}
.container2{
    display: flex;
    flex-direction: column;
    background: #121212;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 6% 6%;
     width: 100%;
 

}
.wrap2{
  width: 100%;
  max-width: 1440px;

}

.div2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    
   
}
.div2head>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 175% */
}
.div2contents{
    display: flex;
    flex-wrap: wrap;
}
.div2contentstop{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.div2contentbottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    padding: 2% 2%;
    gap: 0.8rem;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    padding: 2% 2%;
    gap: 0.8rem;

}
.box>img,.box2>img{
    width: 80.625px;
height: 80px;
}
.box>:nth-child(2),.box2>:nth-child(2){
    color: #E0E0E0;
text-align: center;
font-family: K2D;
font-size: 18px;
font-style: normal;
font-weight: 400;
/* line-height: 42px; */
}
.box>:nth-child(3),.box2>:nth-child(3){
    color: #808080;
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.container3{
    display: flex;
    flex-direction: column;
    background: #121212;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 6% 6%;

}
.wrap3{
  width: 100%;
  max-width: 1440px;

}
.div3{
    display: flex;
    flex-direction: column;
}
.div3head{
    display: flex;
    flex-direction: column;
}
.div3head>:nth-child(1){
    text-align: center;
    font-family: K2D;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 175% */
    background: var(--orange-liner, linear-gradient(180deg, #F48A37 51.04%, #ED7638 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div3head>:nth-child(2){
    color: #FFF;
text-align: center;
font-family: K2D;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 233.333% */
}
.div3content{
    display: flex;
    flex-direction: column;
}
.oddset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.oddsetcontent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    /* animation: fadeInLeft 2s ease-in-out;  */
}
.oddsetcontent>:nth-child(1){
    color: #F07E38;
text-align: center;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 175% */
text-align: left;
    
}
.oddsetcontent>:nth-child(2){
    color: #E0E0E0;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
text-align: left;

}
.oddsetimage{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    /* animation: fadeInRight 2s ease-in-out;  */
}
.oddsetimage>img{
    width: 80%;
    height: auto;
    
}

/* animations */

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-300px);
    }
    to {
      opacity: 1;
    }
  }

/* animations */



/* evenset */

.evenset{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.evensetimage{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    /* animation: fadeInLeft 2s ease-in-out;  */
}
.evensetimage>img{
    width: 80%;
    height: auto;

}
.evensetcontent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    /* animation: fadeInRight 2s ease-in-out;  */
}
.evensetcontent>:nth-child(1){
    color: #F07E38;
text-align: center;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 175% */
text-align: left;
}
.evensetcontent>:nth-child(2){
    color: #E0E0E0;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
text-align: left;
}

/* bottom */

.div4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
background: var(--Linear, linear-gradient(90deg, #D95DB0 0%, #3344DC 100%));
    /* height: 100px; */
    width: 100%;
    padding: 2% 6%;
}
.d4left{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.d4left>:nth-child(1){
    color: #FFE2CD;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.d4left>:nth-child(2){
    color: #FFF;
font-family: K2D;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 150% */
}

.d4right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.d4right>:nth-child(1),.d4right>:nth-child(3){
    height: 28px;
}
.hirebtn{
    border-radius: 5px;
background: var(--gradient-danger-bg, linear-gradient(225deg, #FFC656 0%, #F16063 100%));
display: flex;
width: 256.254px;
height: 57px;
padding: 14px 25px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border: none;
color: #FFF;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.09px;
cursor: pointer;
}
.hirebtn:hover{
  color: #6657AA;
}
.newdiv{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.new1>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: K2D;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 175% */
}
.new2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new2left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.new2left>:nth-child(1),.new2left>:nth-child(2){
    color: var(--gray-gray-700, #4A5568);
font-feature-settings: 'salt' on;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.023%;
text-align: left;
}
.inv{
font-feature-settings: 'salt' on;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 162.023%; /* 32.405px */
background: var(--orange-liner, linear-gradient(180deg, #F48A37 51.04%, #ED7638 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.new2right{
    width: 50%;
}
.new2right>img{
    width: 60%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
    .div1 > :nth-child(1) {
      font-size: 18px;
      line-height: 28px;
    }
    .div1 > :nth-child(2) {
      font-size: 14px;
      line-height: 24px;
    }
    .startbtn {
      border-radius: 12px;
      width: 160px;
      font-size: 16px;
    }
    .div2head > :nth-child(1) {
      font-size: 18px;
      line-height: 28px; 
    }
    .swiperdiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 3rem;
      height: 285px;
      padding: 1% 2%;
    }
  
    .box,
    .box2 {
      width: 100%;
    }
  
    .div3head > :nth-child(1) {
      font-size: 18px;
      line-height: 28px; /* 155.556% */
    }
  
    .div3content {
      gap: 2rem;
    }
    .oddset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 88px;
      gap: 2rem;
      height: auto;
    }
  
    .oddsetcontent {
      width: 100%;
      gap: 0.8rem;
    }
    .oddsetimage {
      width: 100%;
      justify-content: center;
    }
    .oddsetcontent > :nth-child(1),
    .evensetcontent > :nth-child(1) {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
    .oddsetcontent > :nth-child(2),
    .evensetcontent > :nth-child(2) {
      font-size: 14px;
      line-height: 24px;
    }
    .oddsetimage > img {
      /* width: 310px; */
      width: 100%;
      height: 208px;
    }
    .evenset {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 88px;
      gap: 2rem;
     height: auto;
    }
    .evensetcontent {
      width: 100%;
      gap: 0.8rem;
    }
    .evensetimage {
      width: 100%;
      justify-content: center;
    }
    .evensetimage > img {
      /* width: 310px; */
      width: 100%;
      height: 208px;
    }
  
    .div4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.7rem;
      padding: 6% 8%;
      margin-top: 4rem;
    }
    .d4left {
      text-align: center;
      gap: 0.7rem;
    }
    .d4left > :nth-child(1) {
      font-size: 14px;
    }
    .d4left > :nth-child(2) {
      font-size: 18px;
      line-height: 28px;
    }
    .d4right {
      gap: 0.6rem;
    }
    .d4right > :nth-child(1),
    .d4right > :nth-child(3) {
      height: 22px;
    }
  
    .hirebtn {
      height: 40px;
      font-size: 16px;
    }
.newdiv{
    margin-top: 2rem;
    gap: 2rem;
}
    .new1>:nth-child(1){
        font-size: 18px;
        line-height: 28px;
    }
    .new2{
        flex-direction: column;
        gap: 2rem;
    }
    .new2left,.new2right{
        width: 100%;
    }
    .new2right>img{
        width: 100%;
        height: 208px;
    }

    .new2left>:nth-child(1),.new2left>:nth-child(2),.inv{
        font-size: 14px;
        line-height: 24px;
    }
  }