.container {
  position: fixed;
  /* position: sticky;
    top: 0; */
  width: 100%;
  height: 70px;
  padding: 0% 6%;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.container1 {
  background: #121212;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0% 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fadeIn 1s ease-in both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1440px;
}
.left {
  /* width: 50%; */
}
.left > a > img {
  width: 138px;
  height: 40px;
}

.right {
  /* width: 50%; */
}
.rightlist {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  align-items: center;
}
.rightlist > li,
.serviceset > li,
.rightlist > a {
  list-style: none;
  color: #e0e0e0;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.rightlist > a:hover {
  color: var(--drak-orange, #ed7638);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;

  line-height: normal;
  cursor: pointer;
}
.serviceset {
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
  align-items: center;
}
.serviceset:hover > li {
  color: var(--drak-orange, #ed7638);
  cursor: pointer;
}
.serviceset:hover svg path {
  stroke: var(--drak-orange, #ed7638);
}
.servicelist {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  /* height: 500px; */
  background: #000;
  color: #e0e0e0;
  right: 0;
  top: 62px;
  display: flex;
  flex-direction: column;
  padding: 6% 6%;
  gap: 2rem;
  animation: fadeIn 1s ease-in both;
/* overflow: auto; */
}
.stop {
  display: flex;
  justify-content: space-between;
}
.types {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 33%;
}
.types > a {
  text-decoration: none;
  text-align: left;
}
.typehead {
  font-size: 18px;
  font-family: K2D;
  text-align: left;
  font-weight: 500;
  color: rgb(207, 198, 198);
}
.spans {
  color: #606060;
  text-align: left;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.spans:hover {
  color: #989393;
}
.sbottom {
  display: flex;
  justify-content: space-between;
}
.headercontactbtn {
  display: flex;
  /* height: 40px;
padding: 0px 24px; */
  height: 35px;
  padding: 0 18px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #f07e38;
  border: none;
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.headercontactbtn:hover {
  /* cursor: pointer;
  color: #ed7638;
  background-color: transparent;
  border: 0.2px solid #ed7638;
  font-weight: 400; */
  background: #EA610D;
  cursor: pointer;
}


@media screen and (max-width: 768px){
  .container{
    width: 100%;
    height: 50px;
  }
  .container1{
    animation: none;
    height: 50px;
  }
  .left > a > img {
    width: 100px;
    height: 40px;
  }
  .rightlist{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
   
    position: fixed;
/* top: -26px; */
top: 0;
left: 0%;
display: block;


height: 100vh;
/* height: 600px; */
width: 100%;
background: #000000;
/* background-color: rgb(104, 128, 128); */
line-height: 40px;
padding: 20px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
transition: all 0.5s ease;
z-index: 999;
align-items: left;
text-align: left;
gap: 2rem;

backdrop-filter: blur(5px);
overflow: auto;
animation-name: move;
animation-delay: 0s;
animation-duration: 1s;
animation-fill-mode: forwards;
/* padding: 0; */

  }



@keyframes move {
    from { left: 400px; }
    to { left: 0px; }
  }
  .rightlist > li,
  .serviceset > li,
  .rightlist > a {
   
    letter-spacing: 0.5px;
    font-size: 16px;
  }
  .servicelist{
    position: static;
    gap: 0;
    overflow: auto;
    overflow-x: scroll;
    /* background-color: cadetblue; */
    height: 101vh;
    animation: none;
    gap: 0.6rem;
  }
  .stop,.sbottom{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    
  }
  .types{
    width: 100%;
    gap: 0;
  }
  .types>a{
    line-height: normal;
  }
  .typehead{
    font-size: 14px;
  }
  .spans{
    font-size: 12px;
  }

  .headercontactbtn{
    margin-top: 1rem;
    height: 33px;
    padding: 0 12px;
  }

  /* for new */
  .close{
    position: absolute;
    height: 11px;
    width: 11px;
    margin-left: 61px;
    margin-top: 1px;
    opacity: 0.7;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.m1{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-left: -1rem;
 
}
.m1>img{
    width: 131px;
  

}
.m2{
    color: #B3B3B3;
   
    font-size: 18px;
}
.m2>img{
    height: 14px;
    width: 14px;
}

  /* for new */
}
