.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #121212;
    padding: 10% 6%;
    min-height:100vh ; 
    /* delete height */

}
.wrap{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
   
}
.line{
    background: linear-gradient(180deg, #CB5BB4 0%, #4046D8 100%);
    width: 120.5px;
    height: 4px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head>:nth-child(1){
    text-align: center;
    font-family: K2D;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 131.25% */
    background: var(--orange-liner, linear-gradient(180deg, #F48A37 51.04%, #ED7638 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head>:nth-child(2){
    color: #606060;
    font-family: K2D;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
}

.div2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6rem;
}
.div2top{
    display: flex;
    justify-content: space-between;
}
.div2top>:nth-child(2),.div2top>:nth-child(4){
    margin-top: 2.8rem;
}
.div2bottom{
    display: flex;
  justify-content: center;
  gap: 1.6rem;

}

.div2bottom>:nth-child(2){
    margin-top: 2.8rem;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    /* width: 282px; */
height: 226px;
width: 23%;
padding: 4% 1%;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid var(--Linear, #D95DB0);

background: #000;
}
.circle{
  padding: 6%;
    background: #000;
    border-radius: 50%;
}
.circle>img{
    width: 70px;
    height: 70px;
}
.box:hover{
    cursor: pointer;
    border-radius: 20px;
    border-radius: 20px;
    border: 1px solid var(--Linear, #D95DB0);
    background: linear-gradient(180deg, rgba(215, 93, 177, 0.12) 0%, rgba(55, 69, 219, 0.12) 100%), #000;


z-index: 1;

}
.box:hover> span{
    /* color:#000; */
}
.box>img{
    z-index: 2;
}
.box>:nth-child(2),.box>:nth-child(3){
    color: #606060;
text-align: center;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* hover */



.box {
  
    position: relative;
 
    overflow: hidden;
    transition: background-color 0.5s;
  }
  
  .box:hover {
    background: linear-gradient(180deg, rgba(215, 93, 177, 0.12) 0%, rgba(55, 69, 219, 0.12) 100%), #000;
  }
  
  .logo {
    width: 00px; 
    height: 00px; 
    background-image: url('../../assets/hoverlogo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    right: 22%;
    transform: translate(50%, -50%) rotate(-40deg); 
    transition: width 0.5s, height 0.5s, transform 0.5s;
    opacity: 0.7;
   
    /* transform: translate(95%, -85%) rotate(0deg); */
  }
  
  .box:hover .logo {
    /* top: -100%; */
    width: 70px;
    height: 68px;
    transform: translate(80%, -33%) rotate(0deg);
    /* Adjust rotation as needed */
    opacity: 0.7;
  }
  @media screen and (max-width: 768px){

    .div2top{
        flex-direction: column;
        gap: 1.6rem;
    }
    .div2top>:nth-child(2),.div2top>:nth-child(4){
        margin-top: 0;
    }
    .div2bottom{flex-direction: column;}

  .div2bottom>:nth-child(2){
    margin-top: 0;
  }

  .box{
    width: 100%;
  }

}
  